fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic==2.9.2
pydantic-settings==2.6.1
email-validator==2.2.0
python-dotenv==1.0.1

# --- Autenticación (Etapa 4) ---
pyjwt==2.9.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.12

# --- Base de datos (Etapa 5) ---
sqlalchemy==2.0.36
alembic==1.14.0
psycopg2-binary==2.9.10

# --- Testing / CI ---
pytest==8.3.4
pytest-cov==6.0.0
httpx==0.28.1
